{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="login-page">

        {% if app.user %}
            <div class="currently-logged">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>vehicle rental panel</h1>

        <input type="text" value="{{ last_username }}" name="username" placeholder="login" id="inputUsername"  autocomplete="username" required autofocus>
        <input type="password" name="password" id="inputPassword" placeholder="hasło" autocomplete="current-password" required>

        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button  class="button-login" type="submit">Zaloguj</button>
    </div>
</form>
{% endblock %}
