{% extends 'admin-base.html.twig' %}
{% block content %}

   <h2>Dodaj użytkownika pojazdu</h2>
   <hr>
   <h5>Wypełnij poniższy formularz:</h5>

   {% for message in app.flashes('error') %}
      <div class="alert alert-danger" role="alert">
         {{ message }}
      </div>
   {% endfor %}

   {% for message in app.flashes('success') %}
      <div class="alert alert-success" role="alert">
         {{ message }}
      </div>
   {% endfor %}

   <form method="POST">
      <input type="hidden" name="customerId" value="{{ customerId }}">

      <label for="fullName">
         Imię i nazwisko:
         <input type="text" id="fullName" name="fullName" value="{{ customerData['fullName'] }}" placeholder="imię i nazwisko" >
      </label>

      <label for="city">
         Miejscowość:
         <select id="city" name="cityId">
            {% for key, value in cityArray %}
               <option {% if cityArray[key]['name'] == customerData['city'] %} selected {% endif %} value="{{ cityArray[key]['id'] }}">{{ cityArray[key]['name'] }}</option>
            {% endfor %}
         </select>
      </label>

      <label for="address">
         Adres:
         <textarea id="address" name="address" placeholder="Podaj pełny adres (bez miejscowości)">{{ customerData['address'] }}</textarea>
      </label>

      <br>
      <button type="submit" class="submit-button">Dodaj użytkownika pojazdu</button>

   </form>

{% endblock %}